@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,200&display=swap');

body {
    background: #ACC6E0;
  }
  

/* body {
    font-family: 'KoHo', sans-serif;
    margin: 0;
}

p {
    background-color: #fff;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 70px;
    width: 200px;
} */

.main-heading{
    font-family: 'Libre Baskerville', serif;
}

.number{
    font-family: 'Trirong', serif;
}

